body {
  background-color: rgb(233, 233, 233);
  height: 100%;
  padding: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

#editorjs {
  background-color: #fff;
}

.codex-editor__redactor {
  padding: 50px !important;
}

button {
  background-color: rgb(0, 174, 255);
  color: #fff;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 1em;
  margin-top: 2em;
}
